<!DOCTYPE html>
<!--Este es el archivo de fragmentos de Categorías -->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Categorías - InnovaTech</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    </head>
    
    <body>
        
        <section th:fragment="listadoCategorias" id="categorias">
            <div class="container pt-4">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Categorías</h4>
                            </div>
                            <div th:if="${categorias != null and !categorias.empty}">
                                <table class="table table-hover table-bordered ">
                                    <thead class="table-warning">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="categorias, contador : ${categorias}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${categorias.nombre}]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${categorias == null or categorias.empty}">
                                <span>No hay categorias registradas.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center text-white mb-3" style="background-color: #E9967A">
                            <div class="card-body">
                                <h3>Categorias registradas</h3>
                                <h4 class="fs-2"><i class="fa-solid fa-utensils"></i> [[${totalCategorias}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
    </body>
</html>
