<!DOCTYPE html>
<!--Este es el archivo de fragmentos de Productos -->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Productos - InnovaTech</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />

    </head>

    <body>


        <section th:fragment="botonesAgregar" class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            sec:authorize="hasRole('ROLE_ADMIN')"
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarProducto">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="listadoProductos" id="productos">
            <div class="container pt-4">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Productos</h4>
                            </div>
                            <div th:if="${productos != null and !productos.empty}">
                                <table class="table table-hover table-bordered ">
                                    <thead class="table-primary">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th>Categoria</th>
                                            <th>Marca</th>
                                            <th>Estado</th>
                                            <th sec:authorize="hasRole('ROLE_ADMIN')" >Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="producto, contador : ${productos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${producto.nombre}]]</td>
                                            <td>[[${producto.precio}]]</td>
                                            <td>[[${producto.categoria.nombre}]]</td>
                                            <td>[[${producto.marca.nombre}]]</td>
                                            <td>
                                                <span th:if="${producto.idestado == 2}">Activo</span>
                                                <span th:if="${producto.idestado != 2}">Inactivo</span>
                                            </td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                                <a th:href="@{/producto/eliminar/}+${producto.idProducto}"
                                                   th:classappend="${producto.idestado == 2} ? 'btn btn-danger' : 'btn btn-success'"
                                                   th:text="${producto.idestado == 2} ? 'Deshabilitar' : 'Habilitar'">
                                                    <i class="fa-solid fa-ban"></i>
                                                </a>
                                                <a th:href="@{/producto/modificar/}+${producto.idProducto}"
                                                   class="btn btn-primary"> Actualizar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                                <span>No hay productos registrados.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center text-white mb-3" style="background-color: #0D6EFD">
                            <div class="card-body">
                                <h3>Productos registrados</h3>
                                <h4 class="fs-2"><i class="fa-solid fa-icons"></i> [[${totalProductos}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarProducto">
            <div id="agregarProducto" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Nuevo Producto</h5>
                            <button type="button" 
                                    class="btn-close" 
                                    data-bs-dismiss="modal" 
                                    aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/producto/guardar}" th:object="${producto}"
                              method="POST" class="was-validated"
                              enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">Precio</label>
                                    <input type="number" class="form-control" name="precio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="categoria">Categoría</label>
                                    <select class="form-select" name="categoria.idCategoria" required="true">
                                        <option value="" disabled selected>Seleccione una categoría</option>
                                        <option th:each="categoria : ${categorias}" 
                                                th:value="${categoria.idCategoria}" 
                                                th:text="${categoria.nombre}"></option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="marca">Marca</label>
                                    <select class="form-select" name="marca.idMarca" required="true">
                                        <option value="" disabled selected>Seleccione una marca</option>
                                        <option th:each="marca : ${marcas}" 
                                                th:value="${marca.idMarca}" 
                                                th:text="${marca.nombre}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="editarProducto">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/producto/actualizar}" th:object="${producto}"
                          class="was-validated"
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                        <section th:replace="~{producto/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar Producto</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" class="form-control" th:field="*{nombre}" name="nombre" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="precio">Precio</label>
                                                    <input type="number" class="form-control" th:field="*{precio}" name="precio" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="categoria">Categoría</label>
                                                    <select class="form-select" th:field="*{categoria.idCategoria}" name="categoria.idCategoria" required="true">
                                                        <option value="" disabled selected>Seleccione una categoría</option>
                                                        <option th:each="categoria : ${categorias}" 
                                                                th:value="${categoria.idCategoria}" 
                                                                th:text="${categoria.nombre}"></option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="marca">Marca</label>
                                                    <select class="form-select" th:field="*{marca.idMarca}" name="marca.idMarca" required="true">
                                                        <option value="" disabled selected>Seleccione una marca</option>
                                                        <option th:each="marca : ${marcas}" 
                                                                th:value="${marca.idMarca}" 
                                                                th:text="${marca.nombre}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/producto/listado}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>

                    <div class="col-md-4 d-grid" sec:authorize="hasRole('ROLE_ADMIN')">                             
                        <a th:href="@{/producto/eliminar/}+${producto.idProducto}"
                           class="btn btn-danger">
                            <i class="fa-solid fa-ban"></i> Deshabilitar 
                        </a>
                    </div>

                    <div class="col-md-4 d-grid" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check"></i> Actualizar 
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
