<!DOCTYPE html>
<!-- Página de Sucursales-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Sucursales - InnovaTech</title>
        <meta charset="UTF-8"/>

    </head>

    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section class="py-5 text-center text-white" style="background-color: #9ec2f7;">
            <div class="container">
                <h1>Gestión de Sucursales</h1>
                <p class="lead">Administra las sucursales de la tienda desde aquí.</p>
            </div>
        </section>
        
        <!--<section th:replace="~{sucursal/fragmentos :: botonesAgregar}"/> -->
        <!-- <section th:replace="~{sucursal/fragmentos :: agregarCategoria}"/> -->
        <section th:replace="~{sucursal/fragmentos :: listadoSucursales}"/>


        <footer th:replace="~{layout/plantilla :: footer}"/>

    </body>
</html>
